<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,400i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="cvstyle.css" />

    <title>Chanelle Adams</title>
  </head>

  <body>
    <div id="cv" class="container">
      <div class="row">
        <div class="col-12 card w-100 mt-md-5 mb-0 mb-md-5">
          <section id="cv-header" class="card-header px-3 pt-3">
            <h5 class="">Chanelle Adams</h5>

            <a
              class="text-pink-800"
              href="mailto:contact.chanelleadams@gmail.com"
              >contact.chanelleadams@gmail.com</a
            >
          </section>

          <div
            class="
              card-body
              d-flex
              flex-column
              px-3
              mt-5 mt-md-0
              pt-5 pt-md-0
              space-y-12
            "
          >
            <div class="space-y-6 pt-6" >
              <section class="space-y-12" >
                 <div class="space-y-6" v-for="i in cats">
                    <h2 class="text-2xl uppercase">{{i}}</h2>
                    
                    <div class="space-y-2" v-for="row in entriesFormatted[i]">
                      <a :href="row.URL" class="text-pink-900 font-bold" v-if="row.URL">{{row.Title}} {{row.Organization}}</a>
                      <span class="font-bold" v-else >{{row.Title}} | {{row.Organization}}</span>
                      <p>{{row.Description}}</p>
                      <p class="italic">{{row.Date}}</p>
                     
                      
              
                    </span>
                    </div>
                  </div>
                 
                </div>
              </section>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  </body>
</html>

<script>
  const sheetUrl =
    "https://opensheet.vercel.app/1kwnCvmyaz4qPQro5WHX0AkxUB_CbVsrS-Kf5j3DD7No/Sheet1";

  var cv = new Vue({
    el: "#cv",

    data: {
      entries: [],
      entriesFormatted: {
        Education: [],
        Residencies: [],
        "Awards and Grants": [],
        Writing: [],
        Performance: [],
        "Professional Experience": [],
        Teaching: [],
        "Academic Panels": [],
        "Invited Talks": [],
        Translation: [],
      },
      cats: [
        "Education",
        "Residencies",
        "Awards and Grants",
        "Writing",
        "Performance",
        "Professional Experience",
        "Teaching",
        "Academic Panels",
        "Invited Talks",
        "Translation",
      ],
    },

    watch: {
      currentPage: "fetchData",
    },

    created() {
      this.fetchData();
      console.log(this.entriesFormatted);
    },

    methods: {
      fetchData: function () {
        const vm = this;
        fetch(sheetUrl)
          .then((res) => res.json())
          .then((data) => {
            data.forEach((row) => {
              this.entries.push(row);
            });
          })
          .then(function () {
            vm.cats.forEach((category) => {
              vm.entriesFormatted[category] = vm.entries.filter((entry) => {
                // console.log(entry.Category);
                return entry.Category == category;
              });
            });
          });
      },
    },
  });
</script>
